*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Helvetica Neue', Arial, sans-serif;
}

.app {
	height: 100vh;
	width: 100vw;
	display: flex;
}

.header {
	position: relative;
	top: 0;
	grid-column: 1 / 3;
	grid-row: 1;
	height: 100%;
	display: flex;
}

.header-text h2 {
	font-weight: 400;
}

.header button {
	margin-right: 1rem;
	border-radius: 50%;
	border: none;
	height: 50px;
	width: 50px;
	font-weight: 600;
	background: #4682b4;
	color: white;
	cursor: pointer;
	transition: 0.2s ease-out;
}

.header button:hover {
	background: rgba(176, 196, 222, 0.8);
}

.dashboard {
	height: 80vh;
	width: 100vw;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 3fr 3fr;
	grid-gap: 15px;
	padding: 3rem;
}

.grid1 {
	grid-row: 2;
	grid-column: 1;
	height: 100%;
	width: 100%;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	padding: 1rem;
	justify-content: space-evenly;
	align-items: center;
	display: flex;
	flex-direction: column;
	border-radius: 3px;
}

.grid1 h2 {
	font-size: 1.8rem;
	display: flex;
	flex-direction: column;
	place-items: center;
	text-align: center;
	font-weight: 400;
}

.grid1 h2 span {
	font-size: 1.8rem;
	margin-top: 0.25rem;
	color: black;
	font-weight: 600;
}

.grid1 h3 {
	display: flex;
	flex-direction: column;
	place-items: center;
	font-weight: 400;
}

.grid1 h3:first-of-type {
	color: #b92121;
}
.grid1 h3:last-child {
	color: #309b30;
}

.grid1 h3 span {
	font-size: 1.8rem;
	margin-top: 0.25rem;
	color: black;
	font-weight: 600;
}

.grid2 {
	grid-row: 2;
	grid-column: 2;
	height: 100%;
	width: 100%;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	display: flex;
	place-items: center;
	flex-direction: column;
	padding: 1rem;
	border-radius: 3px;
}

.grid2 h2 {
	margin-bottom: 1rem;
}
.grid3 {
	grid-row: 3;
	grid-column: 1;
	height: 100%;
	width: 100%;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	display: flex;
	place-items: center;
	flex-direction: column;
	padding: 1rem;
	border-radius: 3px;
}

.grid3 h2 {
	margin-bottom: 1rem;
}
.grid4 {
	grid-row: 3;
	grid-column: 2;
	height: 100%;
	width: 100%;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	display: flex;
	place-items: center;
	flex-direction: column;
	padding: 1rem;
	border-radius: 3px;
}

.grid4 h2 {
	margin-bottom: 1rem;
}

.recharts-cartesian-axis-tick-value tspan {
	font-size: 0.75rem;
}

.recharts-label tspan {
	font-size: 0.8rem;
}

select {
	/* make arrow and background */
	justify-self: center;
	align-self: center;
	background: linear-gradient(45deg, transparent 50%, lightsteelblue 50%),
		linear-gradient(135deg, lightsteelblue 50%, transparent 50%),
		linear-gradient(to right, steelblue, steelblue);
	background-position: calc(100% - 21px) calc(1em + 2px),
		calc(100% - 16px) calc(1em + 2px), 100% 0;
	background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
	background-repeat: no-repeat;

	/* styling and reset */

	border: thin solid steelblue;
	border-radius: 5px;
	outline: none;
	font: 300 1em/100% 'Helvetica Neue', Arial, sans-serif;
	line-height: 1.5em;
	padding: 0.5em 3.5em 0.5em 1em;

	/* reset */

	border-radius: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
}

option:hover {
	background-color: steelblue;
}

.country-selector {
	margin: auto;
}

@media (max-width: 1200px) {
	.grid1 .recharts-wrapper,
	.grid2 .recharts-wrapper,
	.grid3 .recharts-wrapper,
	.grid4 .recharts-wrapper {
		width: 400px !important;
	}

	.grid1 svg,
	.grid2 svg,
	.grid3 svg,
	.grid4 svg {
		width: 400px;
	}
}
@media (max-width: 900px) {
	.dashboard {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(5, 1fr);
		max-width: 100%;
	}

	.grid1 {
		grid-column: 1;
		grid-row: 2;
	}

	.grid1 .recharts-wrapper,
	.grid2 .recharts-wrapper,
	.grid3 .recharts-wrapper,
	.grid4 .recharts-wrapper {
		width: 100% !important;
	}

	.grid1 svg,
	.grid2 svg,
	.grid3 svg,
	.grid4 svg {
		width: 100%;
	}

	.grid2 {
		grid-column: 1;
		grid-row: 3;
	}

	.grid3 {
		grid-column: 1;
		grid-row: 4;
	}

	.grid4 {
		grid-column: 1;
		grid-row: 5;
	}
}
